snippet constr
public function __construct(${1})
{
	${2:// code...}
}

endsnippet

snippet printr
echo '<pre>', print_r(${1}, true), '</pre>';
endsnippet

snippet test
public function test${1}()
{
    ${2:// code...}
}

endsnippet
